ws4py
pyaudio
click
trio
toml
importlib_resources
six
-e git+git://github.com/itamarst/eliot.git/@0645b6a5ff00cf926cdd9ff2379f51ac324329eb#egg=eliot
-e git+https://github.com/lark-parser/lark.git#egg=lark-parser
sympy
pyautogui
